@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;

  --color-*: initial;
  --color-white: #ffffff;
  --color-blue-900: #0b0d17;
  --color-blue-300: #d0d6f9;
}

body {
  @apply bg-blue-900;
}
