@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
@import "tailwindcss";

@theme {
  --font-bellefair: "Bellefair", serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
  --font-barlow: "Barlow", sans-serif;

  --color-*: initial;
  --color-white: #ffffff;
  --color-blue-900: #0b0d17;
  --color-blue-300: #d0d6f9;
}

body {
  @apply font-barlow bg-blue-900 text-blue-300;
}
